# Ignore node_modules directory
node_modules/

# Ignore built files and directories
/dist/
/build/

# Ignore environment-specific files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore log files
*.log

# Ignore editor-specific files and directories
.vscode/
.idea/

# Ignore cache and temporary files
.cache/
.temp/
*.swp
*.swo
.DS_Store

# Ignore dependency lock files
yarn.lock
package-lock.json

# Ignore custom configuration files
#webpack.config.js